sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package\ Control.last-run
sublime2/User/SFTP.sublime-settings
sublime2/User/Side Bar.sublime-settings
sublime2/User/SFTP.errors.log
vim/vim.symlink/.netrwhist
